body,
html {
    background: #443e44;
    height: 100%;
    display: grid;
}

img {
    border-radius: 50%;
    width: 130px;
    border: 8px groove rgb(15, 35, 126);

}

h3 {
    padding-top: 30px;
}

.quadro {
    color: #ffffff;
    text-align: center;
    border-radius: 20px;
    background-color: #948a94;
    margin: auto;
    padding-bottom: 4%;
    padding-top: 4%;
    box-shadow: -5px 5px #0f0f0f23;
}

button {
    width: 80%;
}